body {
    background-image: url("https://img.freepik.com/premium-vector/horizontal-space-background-with-realistic-nebula_189033-743.jpg");
    background-size: 100%, 100%;
    background-repeat:no-repeat;
    
}
div{
    color: whitesmoke;
   
}